@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(43, 37, 37);
}

@media screen and (max-width:750px) {
    .box {
        width: 100%;
}
.inner-box{
    width: 80%;
}
}
